.register-container {
    margin-top: 35px;
}

.register-container p{
    margin-bottom: 3px;
}

.register-form-container{
    width: 450px;
    height: auto;
    margin:10px;
}

.form-title.register{
    margin-bottom: 35px;
}

.register-password-container{
    margin-bottom: 15px;
}

.checkbox-container.register{
    margin-bottom: 25px;
}