.Navigation-bar{
    display: flex;
    background-color: #ffffff;
}

.Navigation-buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.Navigation-padding{
    flex-grow: 1;
    height: 4vh;
    border-bottom: 2px solid #000000
}


button {
    height: 4vh;
    background-color: #d6d6d6;
    float: left;
    border: 2px solid #000000;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}