.talk-container{
    display: flex;
    height:158px;
    border: 1px solid #000;
    border-top: none;
    margin-left:0px;
    margin-right: auto;
}

.talk-container.saved{
    display: flex;
    height:auto;
}

.talk-information-container{
    margin-left: 10px;
}

.talk-button-container{
    margin:10px;
}

.talk-button-container.saved button{
    margin-bottom: 10px;
}

.time-container {
    display:block;
    width: 210px;
    height: stretch;
    border-right: 1px solid #000;
}

.time-container h3 {
    text-align: center;
    padding: 50px 0;
}

.talk-description-preview{
    overflow: hidden;
    width: 170ch;
    height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.detailed-rating-score {
    display: flex;
    margin-bottom: 20px;
}

.star-icon {
    width: 50px;
    height: auto; 
}

.detailed-description-container {
    border: 1px solid #000
}

.detailed-description-container .header {
    position:absolute;
    margin-top: -15px;
    margin-left:15px;
    background: white;
}

.detailed-description-text {
    margin-top: 5px;
    width: 150ch;
}

.detailed-tag-list {
    margin-top: 50px;
    margin-bottom: 0px;
}