.talk-container{
    display: flex;
    height:162px;
    border: 1px solid #000;
    margin-left:0px;
    margin-right: auto;
}

.time-container {
    width: 210px;
    height: fill;
    border-right: 1px solid #000;
}

.time-container h3 {
    text-align: center;
    padding: 70px 0;
}