.whatson-container{
    display: flex;
    background-color: #ffffff;
}

.Session-bar{
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
    flex-direction: column; 
    align-items: flex-start;
    height: auto;
    border: 1px solid #000;
    width: 130px
}

.Session-buttons{
    display: flex;
    overflow: hidden;
    flex-direction: column; 
    align-items: flex-start;
    
}

.Session-padding{
    border-bottom: 2px solid #000000;
}

.Session-padding.top{
    display: block ;
    height: 80px;
    width: 130px;
}

.Session-padding.bottom{
    flex-grow: 1;
    width: 84px;
}

.sessionlinks {
    height: 55px;
    width: 130px;
    background-color: #d6d6d6;
    border: 2px solid #000000;
    cursor: pointer;
    transition: 0.3s;
}

.sessionlinks:hover {
    background-color: #ddd;
}

.sessionlinks.active {
    background-color: #616161;
}